@charset "UTF-8";

/* Mobile Styles */
/* @media (max-width: 767px) */

/* General elements */
:focus {
	outline: none;
}
a {
	color: rgb(26, 13, 171);
	text-decoration: none;
}
a:visited {
	color: #609;
}
a:hover {
	text-decoration: underline;
}

/* General classes */
.col {
	float: none;
}

.loading {
	width: 60px;
	height: 60px;
	margin: 0 auto;
	display: block;
	background: transparent url(../images/loading.gif) no-repeat top center;
	opacity: 0.3;
}

/* Sections */
 #header {
	text-align: center;
}

#header .google {
	font: 12vw 'Noto Serif', serif;
}
	 #header .google span:nth-child(3n+1) {
		color: rgb(64, 105, 174); /* blue */
	}
	 #header .google span:nth-child(4n+2) {
		color: rgb(222, 109, 93); /* red */
	}
	 #header .google span:nth-child(5n+3) {
		color: rgb(250, 179, 49); /* yellow */
	}
	 #header .google span:nth-child(5n+5) {
		color: rgb(20, 149, 85); /* green */
	}

#body {}
	#body .form-search {
		text-align: center;
		margin-bottom: 20px;
	}
	#body .form-search input {
		width: 100%;
		padding: 5px 10px;
		border: 1px solid rgb(216, 216, 216);
		margin-bottom: 10px;
	}
	#body .form-search input:hover {
		border-color: rgb(178, 178, 178);
	}
		
	#body .form-search input:focus {
		border-color: rgb(66, 133, 244);
	}

	#body .form-search button {
		width: 100%;
		padding: 5px 10px;
		border: 1px solid #dcdcdc;
		border-color: rgba(0,0,0,0.1);
		color: #444;
		background: #f5f5f5;
		background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
		background: linear-gradient(top,#f5f5f5,#f1f1f1);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5,endColorstr=#f1f1f1,GradientType=1);
	}
	#body .form-search button:hover {
		border-color: #c6c6c6;
		color: #222;
		-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
		box-shadow: 0 1px 0 rgba(0,0,0,.15);
		background: #f8f8f8;
		background: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
		background: linear-gradient(top,#f8f8f8,#f1f1f1);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8f8f8,endColorstr=#f1f1f1,GradientType=1);
	}

	#body .result {
		padding: 0;
	}
	
	#body .result li {
		margin-bottom: 20px;
		display: block;
		overflow: hidden;
	}

	#body .result li p {
		margin: 0;
	}

	#body .result li h2 {
		font-size: 18px;
		margin: 0;
		font-weight: normal;
	}

	#body .result li .price {

	}

	#body .result li .link {
		color: #006621;
	}

	#body .result li:last-child {
		margin-bottom: 0;
	}

	#body .result .length-result {
		color: #808080;
	}
	

/* Components  */


/* Tablet Styles */
@media (min-width: 768px) {
	/* General elements */
	/* General classes */
	.col {
		float: left;
	}
	/* Sections */
	#header .google {
		font-size: 6em;
		margin-top: 1em;
		margin-bottom: 40px;
	}
	#body .form-search input {
		width: 541px;
	}
	#body .form-search button {
		width: auto;
	}
	#body .result li .col:last-child {
		float: right;
	}
	/* Components  */
}


/* Screen 1024px */
@media (min-width: 1024px) {
	/* General elements */
	/* General classes */
	/* Sections */
	/* Components  */
}


/* Screen 1336px */
@media (min-width: 1336px) {
	/* General elements */
	/* General classes */
	/* Sections */
	/* Components  */
}