<header id="header">
    <div class="container">
        <h1 class="google">
        	<span>I</span><span>m</span><span>p</span><span>o</span><span>r</span><span>t</span>.io
        </h1>
    </div>
</header>

<div id="body">
    <div class="container">
    	<form name="formSearch" class="form-search">
    		<input type="text" autofocus ng-model="query">
    		<button type="submit" ng-click="search()">Import.io Search</button>
    	</form>

        <ul class="result">
            <li class="length-result" ng-if="lengthResults > 0">
                About {{lengthResults}} results
            </li>
            <li ng-repeat="product in Products">
                <div class="col">
                    <h2><a href="{{product.data.link_1}}" target="_blank">{{product.data.prodname_text}}</a></h2>
                    <p class="link">{{ product.data.link_1 }}</p>
                    <p class="price">price: {{ product.data['prodprice_price/_source'] }}</p>
                    <p>{{product.data.text_1}}</p>
                </div>
                <div class="col">
                    <img ng-src="{{product.data.prodimg_image}}" alt="{{product.data['prodimg_image/_alt']}}">
                </div>
            </li>
            <li class="no-result" ng-if="numberSearchDone > 0 && !loading && lengthResults == 0">No result</li>
            <li class="loading" ng-if="loading"></li>
        </ul>
    </div>
</div>

<footer id="footer">
    <div class="container"></div>
</footer>
